* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font family */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Work+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

/* nav style start */
header{
    margin-bottom: 140px;
}
.nav-content {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img,
p {
    margin-right: 10px;
}

.nav-logo p {
    font-weight: 700;
    font-size: 45px;
}

.nav-logo span {
    color: #ff2ac5;
    ;
}

.nav-menu ul {
    display: flex;
    align-items: center;
}

.nav-menu ul > li {
    list-style: none;
    margin-right: 23px;
}

.nav-menu a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 18px;
}

.nav-icon {
    width: 250px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 5px 10px;
}
.nav-icon  li{
    list-style: none;
}

.nav-icon img {
    width: 10%;
}

.nav-icon li,
img {
    margin-right: 15px;
}

/* banner style start */
.banner {
    display: flex;
    width: 80vw;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.banner-content h2 {
    font-size: 35px;
    font-weight: 600;
}

.banner-content h1 {
    font-size: 58px;
    font-weight: 800;
}

.primary-p-color {
    color: #534C64;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

#sing-in-btn {
    border-radius: 48px;
    padding: 15px 40px;
    background-color: #FF42A5;
    color: #ffff;
    border: none;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
#go-rogue-btn{
    border-radius: 48px;
    padding: 15px 40px;
    background-color: #4EC5F7;
    color: #ffff;
    border: none;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.gradient-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.banner-img {
    width: 40vw;
}

.banner-img img {
    width: 100%;
}
/* online games style */
.online-games{
    width: 80vw;
    margin: 0 auto;
}
.online-title-text{
    text-align: center;
    margin-bottom: 30px;
}
.online-title-text h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}
.online-games-box-container{
    display: flex;
    gap: 24px;
}
.single-games-box{
    width: 18vw;
    position:relative;
}
.box-color{
    width: 18vw;
    height: 287px;
    position: absolute;
    bottom: 5px;
    border-radius: 10px;
    background-color: red;
    display: none;
}
.play-btn{
    position: absolute;
    bottom: 117px;
    left: 79px;
    text-align: center;
    display: none;
    color:#ff2ac5
}
.single-games-box:hover .box-color{
    background-color:#0000008a;
    z-index: 3;
    display:block;
}
.single-games-box:hover .play-btn{
    display: block;
    z-index: 4;
}
.single-games-box > img{
    width: 100%;
    z-index: 2;
}
.play-icon img {
    width: 10px;
}
.single-games-box .play-icon{
    position: relative;
    bottom: 154px;
    left: 101px;
    display: none;
}
.single-games-box:hover .play-icon{
    display: block;
}
.hide{
    display: none;
}
/* play instantly */
.play-instantly{
    display: flex;
    align-items: center;
    width: 80vw;
    margin:0 auto;
    margin-bottom: 150px;
}
.play-instantly-content {
    width: 45vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.play-instantly-img{
    width: 35vw;
    position: relative;
}
.play-instantly-img img{
    width: 100%;
}
.text-container{
    width: 50%;
}
.img-2{
    position: absolute;
    width: 38%;
    bottom: -41px;
    left: -78px;
}
.text-container h1{
    font-size: 38px;
}
.instantly-description{
    color:#534C64;
    margin-top: 10px;
    font-size: 18px;
}
/* games btn style */
.game-btn-container{
    width:80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    row-gap: 20px;
}
.single-item {
    width: 90%;
    height: 52px;
    display: flex;
    align-items: center;
    padding: 4px 10px;
}
.single-item:hover{
    border: 1px solid #ff2ac5 ;
    color: #ff2ac5;
    border-radius: 30px;
}
.single-item img{
    width: 23%;
    object-fit: contain;
}
.single-item p{
    font-size: 16px;
    margin-right: 0;
    font-weight: 600;
}
.difference-style{
    justify-self: end;
}
/* footer style  */
.footer {
    background-color: #0B0223;
    margin-top: 130px;
    color: #ffff;
    min-height: 70vh;
}
.footer-content {
    width: 65vw;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 70px;
}
.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.footer-logo span {
    color: #ff2ac5;
    ;
}
.footer-logo p {
    font-weight: 700;
    font-size: 45px;
}
.footer-menu > ul{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 30px;
}
.footer-menu > ul li{
    list-style: none;
}
.footer-menu ul li a{
    color: #fbecec;
    text-decoration: none;
}
.footer-img {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
}
.footer-img i{
    font-size: 30px;
}
.privarcy-menu{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 20px;
}
.privarcy-menu li{
    list-style: none;
}
.privarcy-menu a{
    color:#746d6d;
    text-decoration: none;
}
.footer small{
    color:#746d6d ;
}









/* .single-game-btn{
    display: flex;
    align-items: center;
    width: 200px;
    padding:5px 5px;
}
.single-game-btn p{
    color: #0B0223;
}
.single-game-btn:hover{
    border: 1px solid red;
    border-radius: 92px;
}
.single-game-btn:hover p{
    color:#ff2ac5;
}
.single-game-btn img{
    width: 25%;
}
.frist-btn-items {
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
}
.second-btn-items {
    display: flex;
    width: 60vw;
    margin: 0 auto;
    gap: 20px;
} */